.cart-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5px;
}

.item-container {
    flex: 1;
    background: rgba(100, 196, 237, 1);
    min-height: 0;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

th {
    position: sticky;
    top: 0;
    z-index: 2;
}

.price-container {
    display: flex;
    justify-content: flex-end;
}

.op-container {
    display: inline-flex;
    justify-content: space-between;
    padding: 5px;
}

.td-container {
    min-height: 0;
    overflow: auto;
}

.quantity-input, .description-input {
    width: auto;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.btn-container {
    display: inline-flex;
    justify-content: flex-end;
}

#replace-title {
    display: none;
}

#show-pick-time {
    width: 15rem;
    float: left;
}

@media (max-width: 575px) {
    .op-container {
        display: inline;
        justify-content: flex-start;
    }

    #item-table td {
        display: table-cell;
        padding: 0.5em 0.5em;
    }

    #cart-title {
        display: none;
    }

    #replace-title {
        display: table-cell;
    }

    #replace-title > th {
        display: table-cell;
        width: 700px;
    }

    .item-container > table > #item-table {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }

    #item-table > tr {
        display: inline-flex;
        flex-direction: column;
        border: 5px;
        border-style: solid;
        border-color: rgba(0, 127, 255, 0.5);
        margin: 1px;
    }

    .delete-item {
        float: right;
    }

    tbody td:before{
        display: inline;
        font-weight: bold;
        content: attr(data-th);
    }
}