.full-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.preview-container {
    border-style: solid;
    border-width: 5px;
    border-radius: 5px;
    border-color: rgba(0, 127, 255, 0.5);
    background: rgba(100, 196, 237, 0.5);
    box-shadow: 1px 1px 1px #465881;
    margin-bottom: 5px;
}
.menu-item {
    height: 100%;
    padding: 5px;
    margin-bottom: 5px;
    display: flex;
}
.item-img-container {
    width: 20%;
    height: 100%;
}
img {
    max-height: 100%;
    max-width: 100%;
    height: auto;
    width: auto;
}
.detail-info-container {
    margin-left: 5px;;
    flex-grow: 1;
}
.number-container {
    margin-left: 5px;
}
