th {
    position: sticky;
    top: 0;
}
.edit-menu-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.full-container {
    flex: 1;
    width: 100%;
    overflow: auto;
}

.op-container {
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#edit-type {
    margin-left: 5px;

}

a, a:hover {
    color: white;
    text-decoration-line: none;
}

.padding5 {
    padding: 5px;

}

img {
    max-width: 120px;
    height: auto;
}