.full-container {
    height: 100%;
    width: 100%;
    overflow: auto;
}

th {
    position: sticky;
    top: 0;
}

.tr1 {
    background: white;
}

.tr2 {
    background: rgba(100, 196, 237, 0.3);
}