.full-container {
    height: 100%;
    width: 100%;
    overflow: auto;
}

.finish {
    background: #CCFF99;
}

th {
    position: sticky;
    top: 0;
}

.btn-primary.disabled, 
.btn-primary:disabled {
    color: #FFFFFF;
    background-color: 	#C0C0C0;
    border-color: 	#C0C0C0;
}

.btn.disabled, .btn:disabled {
    opacity: 1.0;
}

.order-table{
    cursor:pointer;
}