{% extends "layout.html" %}
{% set active_page = "menu-edit" %}
{% set url = "boss" %}

{% block header %}
    <script src="{{ url_for('static', filename='js/edit-add-item.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/edit-add-item.css') }}">
{% endblock %}

{% block content %}
<div class="full-container">
    {% if add %}
        <h2>單品新增</h2>
    {% else %}
        <h2>單品修改</h2>
    {% endif %}
    <form id="item-form">
        <div class="form-group">
            <label for="name">名稱</label>
            <input type="text" name="name" id="name" class="form-control" value="{{itemData['name']}}"required>
            <div id="id-{{itemData['_id']}}" class="item-id"></div>
        </div>
        <div class="form-group">
            <label for="type-list">種類</label>
            <select id="type-list" class="form-control">
                {% for eachType in type %}
                    <option id="type-{{eachType['_id']}}">{{eachType['name']}}</option>
                {% endfor %}
            </select>
            <div id="type-{{itemData['type']}}" class="item-type"></div>
        </div>
        <div class="form-group">
            <label for="price">單價</label>
            <input type="number" name="price" id="price" class="form-control" min="1" value="{{itemData['price']}}" required>
        </div>
        <div class="form-group">
            <label for="picture">照片</label>
            <input type="file" name="picture" id="picture" accept="image/*" class="form-control-file">
        </div>
        <div class="form-group">
            <label for="description">說明</label>
            <textarea name="description" id="description" cols="30" rows="5" class="form-control">{{itemData['description']}}</textarea>
        </div>
        <div class="form-group ml-auto">
            <button type="button" id="clear" class="btn btn-primary">清空</button>
            {% if add %}
                <button type="button" id="submit" class="btn btn-primary">品項添加</button>
            {% else %}
                <button type="button" id="submit" class="btn btn-primary">確認修改</button>
            {% endif %}

        </div>
    </form>

    <div class="preview-container">
        <div class="menu-item">
            <div class="item-img-container">
            {% if add %}
                <img id="picture-show" class="item-img" src="">
            {% else %}
                <img id="picture-show" class="item-img" src="/img/{{itemData['picture']}}">
            {% endif %}
            </div>
            <div id="detail" class="detail-info-container">
                名稱：<br>
                價格：<br>
                說明：<br>
            </div>
        </div>
    </div>
</div>

<!--alert pop-up window-->
<div class="modal" id="alert-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="alert-title" class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="alert-body"></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

