{% extends "layout.html" %}
{% set active_page = "menu" %}
{% set url = "customer" %}

{% block header %}
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lozad/dist/lozad.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css') }}">
    <script src="{{ url_for('static', filename='js/menu.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/cart.js')}}" type="text/javascript"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}


{% block content %}
<div class="container-fluid h-100">
    <div class="row custom-h-100">
        <div class="col-lg-8 col-12 item-container h-100 overflow-auto order-1 order-lg-0 h-100 padding-10" id="menu">
            {% for type in menu %}
                {% for item in type["content"] %}
                <div class="menu-item custom-row" id="{{item['_id']}}">
                    <div class="col-lg-3 col-md-5 col-12">
                        <img data-src="/img/{{item['picture']}}" alt="老闆沒有放圖片喔~" class="item-img lozad">
                    </div>
                    <div class="col-lg-9 col-md-5 col-12">
                        <div class="row h-100">
                            <div class="col-lg-7">
                                名稱: {{item["name"]}}<br>
                                價格: {{item["price"]}} <br>
                                說明: {{item["description"]}} <br>
                                {% if type["category"] == "combo" %}
                                內容: <br>
            
                                {% for combo_item in item["content"] %}
                                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                &nbsp
                                {{combo_item["quantity"]}} * {{combo_item["name"]}} <br>
                                {% endfor %}
                                {% endif %}
                            </div>
                            <div class="col-lg-5">
                                <div class="row h-100">
                                    <div class="d-flex align-items-center col-8">
                                        <span>數量</span>
                                        <input type="number" class="form-control" id="input_{{item['_id']}}" value="1" min="1" max="99">
                                    </div>
                                    <div class="d-flex align-items-center col-4">
                                        <button class="btn btn-primary" id="submit_{{item['_id']}}">加入</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% endfor %}
            <div id="show-nothing" class="disabled">
            </div>
        </div>
        <div class="padding-10 col-lg-4 col-12 info-container order-0 order-lg-1 h-100 d-flex">
            <div class="search-container row">
                <input class="form-control" type="search" placeholder="Search" aria-label="Search" id="search">
            </div>
            <div class="type-container row flex-grow-1">
                <div class="col h-100 flex-column d-flex">
                    <div class="row">種類</div>
                    <div class="row overflow-auto flex-shrink-1">
                        <div class="col">
                            {% for type in menu %}
                                <div class="row">
                                    <a href="#" id="type{{loop.index}}">{{type['type']}}</a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row time-container">
                <div class="col">
                    <div id="bussiness_data" class="row">可點餐時段</div>
                    {% for time in bussiness_data %}
                    <div> {{time}}&nbsp&nbsp{{bussiness_data[time]}}</div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

      <!-- Modal -->
    <div class="modal fade" id="orderHintModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
             <h5>Hint</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" id="orderHintContent">
                    新增成功~<br>祝您吃的開心~
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary"
              data-dismiss="modal">確認</button>
            </div>
          </div>
        </div>
    </div>
</div>
{% endblock %}
