{% extends "layout.html" %}
{% set active_page = "order_state" %}
{% set url = "customer" %}

{%set defaultPush = False %}
{% block header %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/order-state.css') }}">
    <script src="{{ url_for('static', filename='js/order-state.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="full-container">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>取餐序號</th>
                    <th>指定取餐時間</th>
                    <th>項目及數量</th>
                    <th>目前訂單狀態</th>
                    <th>備註</th>
                </tr>
            </thead>
            <tbody>
                {% for eachOrder in order%}
                    <tr class = "{{eachOrder['state']}}"  id = "tr-{{eachOrder['_id']}}">

                        <td id="id-{{eachOrder['_id']}}">
                            {% if eachOrder['state'] == 'cancel' %}
                                X
                            {% elif eachOrder['state'] == 'unknown' %}
                                ?
                            {% else %}
                                {{eachOrder['orderID']}}
                            {% endif %}
                        </td>

                        <td>{{eachOrder['takenAt']}}</td>

                        <td>
                        {%for content in eachOrder['content']%}
                            {{content['name']}} * {{content['quantity']}}<br>
                        {%endfor%}
                        </td>


                        <td id = "state-{{eachOrder['_id']}}">
                            {% if eachOrder['state'] == 'doing'%}
                                製作中
                            {% elif eachOrder['state'] == 'unknown'%}
                                未回應
                            {% elif eachOrder['state'] == 'finish'%}
                                已完成
                            {% elif eachOrder['state'] == 'cancel'%}
                                拒絕
                            {% endif %}
                        </td>



                        <td >{{eachOrder['notes'] | replace(";", "<br/>") | safe}}</td>
                    </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
{% endblock %}