{% extends "layout.html" %}
{% set url = "customer" %}

{% block header %}
    <script src="{{ url_for('static', filename='js/reset-password.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset-password.css') }}">
{% endblock %}

{% block content%}
<form id="reset-password-form">
    <div class="form-group">
        <label for="new-password">請輸入新密碼：</label>
        <input type="password" class="form-control" id="new-password" placeholder="Enter password" required minlength="8">
    </div>
    <div class="form-group">
        <label for="confirm-new-password">再輸入一次新密碼：</label>
        <input type="password" class="form-control" id="confirm-new-password" placeholder="Enter password" required minlength="8">
    </div>
    <button type="button" class="btn btn-primary" id="reset-password-btn">Submit</button>
</form>
<p id="txt" class="form-text wrong-msg"></p>

{% endblock %}